<head>
  <title>Article Editor</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-animate/angular-animate.js"></script>
  <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
  <script src="bower_components/ngDraggable/ngDraggable.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <script src="app.js"></script>
  <script src="blockService.js"></script>
  <script src="jsonService.js"></script>
  <script src="controller.js"></script>
</head>

<body class="container" ng-app="editor" ng-controller="controller">
  <!-- Title -->
  <h1>Article Editor</h1>
  <p class="lead">You can add blocks and edit them in modals. Then export a JSON file. Fun!</p>

  <!-- Content -->
  <div class="container" style="max-width: 600px;">
    <div ng-repeat="block in blocks" class="text-muted" ng-drop="true" ng-drop-success="onDropComplete($index, $data ,$event)">
      <div class="row" ng-show="textBlock(block)" ng-click="showEditButtons()" ng-drag="true" ng-drag-data="block">
        <h4> {{ block.title }} </h4>
        <p> {{ block.body }} </p>
        <button class="btn btn-default" ng-show="showButtons"  ng-click="editBlock(block); modalUpdate(block)">Edit!</button>
        <button class="btn btn-default" ng-show="showButtons" ng-click="deleteBlock(block)">Delete!</button><br>
        <br>
      </div>
      <div ng-show="!textBlock(block)"class="col-xs-6" ng-drag="true" ng-drag-data="block">
        <div class="row" ng-click="showEditButtons()">
          <img src="{{block[0].image}}" style="max-height:300px;"  class="img-responsive">
          <h4> {{ block[0].retailer }} </h4>
          <h5> &pound{{ block[0].price }} </h5>
          <button class="btn btn-default" ng-show="showButtons" ng-click="deleteImage(block)">Delete!</button><br>
          <br>
        </div>
      </div>
    </div>
  </div>
  <br>

  <!-- Text Blocks -->

  <!-- Add Block -->
  <form class="form-group" ng-show="textInput">
    <input class="form-control" placeholder="Title" type="text" ng-model="titleText"/>
    <textarea class="form-control" rows="3" placeholder="Main Body" type="text" ng-model="bodyText"></textarea>
    <button class="btn btn-primary" ng-click="createTextBlock(); showTextInput()">   Add Text  </button>
    <button class="btn btn-danger" ng-click="showTextInput()">   Cancel  </button><br>

  </form>

  <!-- Add Blocks -->

  <a class="btn btn-primary" ng-click="showTextInput()">Text Block</a>
  <a class="btn btn-success" ng-click="showImageSelection()">Products Block</a>
  <hr>

  <!-- Image Blocks -->
  <div class="container" style="max-width: 600px;">
    <div ng-show="imageSelection" class="col-xs-12 col-md-8">
      <button class="btn btn-success" ng-click="saveImageBlock(); showImageSelection()">Done</button>
      <a class="btn btn-danger" ng-click="showImageSelection()"> Cancel</a>
      <hr>
      <div class="row">
        <div class="col-xs-6 col-md-6" ng-repeat="product in allProducts">
          <button ng-click="addImage(product.id)">
            <img src="{{product.image}}" style="max-height:300px;"  class="img-responsive">
            <p>{{product.title}}</p>
            <p>&pound{{product.price}}</p>
          </button>
          <hr>
        </div>
      </div>
    </div>
  </div>

  <div>
    <h4>JSON File</h4>
    {{ json}}
  </div>

  <!-- Modal -->


  <script type="text/ng-template" id="myModalContent.html">
    <div class="modal-header">
      <h3 class="modal-title">I'm a modal!</h3>
    </div>
    <div class="modal-body">
      <form class="form-group">
        <input class="form-control" placeholder="Title" type="text" ng-model="data.title"/>
        <textarea class="form-control" placeholder="Main Body" type="text" ng-model="data.body"></textarea>
        <button class="btn btn-success" ng-click="saveBlock()">   Save  </button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
      </form>
    </div>
  </script>
</body>


<!-- /.container -->
