<head>
  <title>To Do List</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Dancing+Script" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
  <script src="app.js"></script>
  <script src="blockService.js"></script>
  <script src="controller.js"></script>
</head>

<body class="container" ng-app="editor" ng-controller="controller">
  <!-- Title -->
  <h1>Article Editor</h1>
  <p class="lead">You can add blocks and edit them in modals. Then export a JSON file. Fun!</p>

  <!-- Content -->
  <div class="container" style="max-width: 600px;">
    <div ng-repeat="block in blocks" class="text-muted">
      <div class="row" ng-show="textBlock(block)">
        <h4> {{ block.title }} </h4>
        <p> {{ block.body }} </p>
      </div>
      <div ng-show="!textBlock(block)" class="col-xs-6">
        <div class="row">
          <img src="{{block[0].image}}" style="max-height:300px;"  class="img-responsive">
          <h4> {{ block[0].retailer }} </h4>
          <h5> {{ block[0].price }} </h5>
          <br>
        </div>
      </div>
    </div>
  </div>
  <br>
    <!-- Add Blocks -->

    <!-- Text Blocks -->

    <h4>Add Block</h4>
    <form class="form-group" ng-show="textInput">
      <input class="form-control" placeholder="Title" type="text" ng-model="titleText"/>
      <input class="form-control" placeholder="Main Body" type="text" ng-model="bodyText"/>
      <button class="btn btn-primary" ng-click="addTextBlock(); showTextInput()">   Add Text  </button>
    </form>

    <a class="btn btn-primary" ng-click="showTextInput()">Text Block</a>
    <a class="btn btn-success" ng-click="showImageSelection()">Products Block</a>
    <hr>
    <div ng-show="imageSelection" class="col-xs-12 col-md-8">
      <button ng-click="saveImageBlock(); showImageSelection()">Done</button>
      <div class="row">
        <div class="col-xs-6 col-md-6" ng-repeat="product in allProducts">
          <button ng-click="addImage(product.id)">
            <img src="{{product.image}}" style="max-height:300px;"  class="img-responsive">
            <p>{{product.title}}</p>
            <p>£{{product.price}}</p>
          </button>
          <hr>
        </div>
      </div>
    </div>

    <div>
      <h4>JSON File</h4>
      {{ json}}
    </div>


  </body>
  <!-- /.container -->
